<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    UserService 的创建权交给spring-->
    <bean id="d" class="spring.ioc.Driver"></bean>
    <bean id="tank" class="spring.ioc.Tank">
<!--        动态注入Tank中的字段-->
        <property name="driver" ref="d"></property>
    </bean>

</beans>